.list-clientes{
    width: 100vw;
}
.list-clientes-title{
    width: 300px;
}

.list-clientes-clientes{
    width: 100%;
    max-width: 43.75rem;
    min-width: 280px;
    width: 100%;
    margin: auto;
    font-size: clamp(30px, 4vw, 70px);
}


@media (width < 992px){
    .list-clientes-title{
        width: auto;
    }

    
}